<header>
    {{#md-navbar name='TrelloTest' class='indigo'}}
        {{#if auth}}
            {{#link-to 'boards' tagName='li'}}
                {{link-to 'Boards' 'boards'}}
            {{/link-to}}
        {{else}}
            {{#link-to 'login' tagName='li'}}
                {{link-to 'Login' 'login'}}
            {{/link-to}}
        {{/if}}
    {{/md-navbar}}
</header>
<main>
    {{outlet}}
</main>
<footer>

</footer>
{{md-modal-container}}
